:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #FFFFFF;
    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-light: #757575;
    --accent-color: #2196F3
  }
  h1,
  h2,
  h3,
  h4,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
 margin-top: 0;
 margin-bottom: 0;
 padding-left: 0;
 list-style: none;
 }
  .link {
      text-decoration: none;
   }
    .list {
      list-style: none;
    }
    img {
      display: block;
    }
    button {
      font-family: inherit;
      cursor: pointer;
    }
    body {
      font-family: var(--primary-font);
    }
    .container {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    * {
      box-sizing: border-box;
    }
    /*page-header*/
    .logo-nav {
      color: #2196F3;
    }
    .logo-navigation {
      color: #FFFFFF;
    }
    .logo {
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: #000000;
      margin-right: 93px;
      padding-top: 24px;
      padding-bottom: 25px;
     }
    .menu-link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--primary-text-color-theme-light);
      padding-bottom: 32px;
      padding-top: 32px;
      display: inline-block;
     }
     .menu-link:hover,
     .menu-link:focus {
     color: var(--accent-color)
   }
     .menu-list {
      display: flex;
      align-items: center;
      column-gap: 50px;
    }
  .page-header-container {
    display: flex;
  }
  .page-header {
    border-bottom: 1px solid #ECECEC;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  /*main*/
  .title-bg {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .title-btn {
    background-color: var(--accent-color)
  }
  .title-h1 {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--primary-text-color-theme-dark);
   margin-bottom: 30px;
   width: 696px;
   margin-left: auto;
   margin-right: auto;
  }
  .title-btn {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   color: var(--primary-text-color-theme-dark);
   padding-left: 32px;
   padding-right: 32px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-left: 477px;
   border: none;
   border-radius: 4px;
   background: #188CE8;
  }
  /*features*/
  .features {
    padding-top: 94px;
  }
  .features-list {
    display: flex;
  }
  .features-list li {
    margin-right: 30px;
  }
  .features-list li:last-child {
    margin-right: 0px;
  }
  .features-title {
    margin-bottom: 10px;
  }
  .desc-features {   
    width: 270px;
    height: 98px;
  }
  .features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-light);
   }
   .desc-features {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
   }
   .desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
    margin-top: 4px;
   }
  /*subject*/
  .subject-img {
  padding-top: 94px;
  padding-bottom: 94px;
}
.subject {
  padding-top: 94px;
}
.subject-list {
  display: flex;
}
.subject-list li {
  margin-right: 30px;
}
.subject-list li:last-child {
  margin-right: 0px;
}
.subject-logo {
  margin-bottom: 50px;
}
.subject-list-user {
  display: flex;
}
.subject-list-user li {
  margin-right: 30px;
}
.subject-list-user li:last-child {
  margin-right: 0px;
}
.subject-list-user {
  padding-bottom: 94px;
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}
/*.logo-bg {
  background: #2F303A;
 margin-top: 94px;
}*/
.contact-link-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
  display: flex;
}
.contact-list li:last-child {
  margin-bottom: 0px;
}
.contact-list li {
  margin-bottom: 9px;
}
.contact-list {
  font-family: 'Roboto';
  font-style: normal;
  margin-top: 20px;
  width: 231px;
  height: 81px;
 }
 .logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 60px;
 }
   .contact {
    display: flex;
    align-items: center;
  }
  .tel {
    margin-left: 50px;
  }
  .class-contact {
    margin-left: 331px;
    align-items: center;
    justify-content: space-between;
  }
  .contact-link {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--secondary-text-color-theme-light);
   display: flex;
   padding-top: 32px;
   padding-bottom: 32px;
  }
  .contact-link:hover,
  .contact-link:focus { 
   color: var(--accent-color)
  }
  .subject-logo {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--primary-text-color-theme-light);
  }
  .user {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--primary-text-color-theme-light);
   margin-top: 30px;
   margin-bottom: 10px;
  }
  .user-content {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color-theme-light);
 }
  .subtitle {
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: var(--primary-text-color-theme-light);
  }
  .subtitle-img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE;
  }
  .subject {
   background: #F5F4FA;
  }
  .image-item {
   width: 270px;
   height: 368px;
   left: 215px;
   top: 1632px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
  }
  .img-item {
    width: 370px;
    margin-bottom: 30px;
    margin-right: 30px;
   }
   .img-list {
    display: flex; 
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .button-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 94px;
  }
  .button:hover,
  .button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
  }
  .button {
    font-weight: 500;
    font-size: 16px;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }
     /*.button-item {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--primary-text-color-theme-dark);
  }*/